SHOPIFY_ADMIN_API_DOMAIN=hpas5s-eu.myshopify.com
SHOPIFY_ADMIN_API_VERSION=2026-01
SHOPIFY_ADMIN_API_ACCESS_TOKEN=

SHOPIFY_APP_CLIENT_ID=
SHOPIFY_APP_CLIENT_SECRET=
SHOPIFY_OAUTH_REDIRECT_URI=http://localhost:8765/callback
